:root {
    --primary: #27ae60;
    --dark: #2c3e50;
    --light: #f4f7f6;
}

body {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.auth-container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.logo { width: 120px; margin-bottom: 20px; }

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary);
}

input {
    width: 100%;
    padding: 12px 12px 12px 45px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.btn-main {
    background: var(--primary);
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.gender-selection {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.switch-text a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
  }
