body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 400px; /* Bwat yo pap janm depase 400px */
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.logo { width: 150px; margin-bottom: 20px; }

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.nav-bar { display: flex; gap: 5px; margin-bottom: 20px; }
.nav-bar button { background: #007bff; }

.balance-card {
    background: #333;
    color: gold;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.digicel { background-color: #ff0000; color: white; border: 4px solid white; }
.natcom { background-color: #ff8c00; color: white; border: 4px solid white; }

.modal {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
    background: #fff9f9;
}
